.main{
    display: flex;
   text-align: center;
    flex-direction: column;
}
.head{
   border: 2px solid black;
   width: 20%;
   text-align: center;
   padding: 20px;
}
.bttn{
   margin: 2px;
   padding: 10px;
   border-radius: 7px;
   width: 50px;
   border: none;
   background-color: blanchedalmond;
}
.buttn{
   margin: 2px;
   padding: 10px;
   border-radius: 7px;
   width: 50px;
   border: none;
   background-color: blanchedalmond;
}
#inp{
    height: 20%;
    margin: 10px;
    width: 230px;
    font-size: 30px;
}